<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotodeperfil (2).jpg"
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <P>Full Stack Developer Jr</P>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="acercademi">
        <span >
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita eaque officia dolore obcaecati cum. Repellat excepturi atque dolorem0 in autem reiciendis consectetur vitae facere, quibusdam adipisci corporis tempore maxime asperiores.
            </p>
        </span>
    </div>
</div>