<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text center col-sm-4 col-md-4 col-lg-4">  
     <circle-progress
        [percent]="85"
        [radius]="60"
        [title]="'85'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'lightblue'"
        [innerStrokeColor]="'violet'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
<div class="text center col-sm-4 col-md-4 col-lg-4">  
    <circle-progress
       [percent]="85"
       [radius]="60"
       [title]="'85'"
       [showUnits]="false"
       [outerStrokeWidth]="15"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'lightblue'"
       [innerStrokeColor]="'violet'"
       [animation]="true"
       [animationDuration]="300"
   ></circle-progress>
</div>
<div class="text center col-sm-4 col-md-4 col-lg-4">  
    <circle-progress
       [percent]="85"
       [radius]="60"
       [title]="'85'"
       [showUnits]="false"
       [outerStrokeWidth]="15"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'lightblue'"
       [innerStrokeColor]="'violet'"
       [animation]="true"
       [animationDuration]="300"
   ></circle-progress>
</div>
 
</div>
