<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1> Asistente en cirugias </h1> <h3>2022 - actualidad</h3>
            </li>
            <p>Me encargo de asistir al cirujano principal en diversos procedimientos desde los mas simples como castraciones hasta los mas complejos como lo son las cirugias de urgencia, de esta forma aprendi a ser mas eficiente y adelantarme a los posibles escenarios antes de que ocurran</p>
        </ul>
        <ul>
            <li> <h1> Asistente en cuidados de internacion</h1> <h3>2022 - actualidad</h3>
            </li>
            <p>Me encuentro a cuidado de aquellos animales que deben guardar reposo en la clinica veterinaria, es un trabajo complejo que me enseño a prestar atencion hasta en los minimos detalles y poder concentrarme en diferentes actividades a la vez</p>
        </ul>
        <ul>
            <li> <h1> Emprendimiento en ilusrtaciones digitales </h1> <h3>2020-2022</h3>
            </li>
            <p>Al transcurrir el año 2020 lleno de incertidumbre y teniendo que adaptarnos a una nueva forma de vida decidi comenzaar mi primeer emprendimiento llamado "fv.ilustraciones" donde realizaba ilustraciones digitales en alta calidad, este mismo me permitioo aprender a comunicarme con el cliennte y cumplir con los tiempos estipulados</p>
        </ul>
    </div>
</div>