<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Secundario </h1> <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non obcaecati natus corrupti eligendi, illo ducimus recusandae asperiores inventore officia officiis! Adipisci, tenetur aliquid neque facilis expedita dolorem consectetur incidunt facere.</p>
        </ul>
        <ul>
            <li> <h1>Facultad de Ciencias Veterinarias - UNLP </h1> <h3>2019 - actualidad</h3>
            </li>
            <p>Me encuentro cursando 3er año de la carrera, mi deseo es ser capaz de unir la medicina con la tecnlogia y asi poder trer mejoras para ayudar a salvar infinitasvida</p>
        </ul>
        <ul>
            <li> <h1>Curso de Robotica Educativa</h1> <h3>2022</h3>
            </li>
            <p>Mi primer acercamiento al mundo de la robotica y la prgramacion, si bienel curso estaba focalizado en el aprendizaje basico de robotica, me fue sufiente para descubrir que me gusatria ssaber mucho mas.</p>
        </ul>
        <ul>
            <li> <h1>Argentina Programa </h1> <h3>2022 - 2023</h3>
            </li>
            <p>En Argentina Programa puder aprender muco mas sobre la programacion y como utilizarla, lo que me demostro que a pesar de las dificultades quiero llegar a nuevos niveles de conocimiento y poder aplicarlos junto aa mis otros estudios para poder ayyudar de otra manera.</p>
        </div>
</div>