<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Secundario </h1> <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non obcaecati natus corrupti eligendi, illo ducimus recusandae asperiores inventore officia officiis! Adipisci, tenetur aliquid neque facilis expedita dolorem consectetur incidunt facere.</p>
        </ul>
        <ul>
            <li> <h1>Unlp </h1> <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non obcaecati natus corrupti eligendi, illo ducimus recusandae asperiores inventore officia officiis! Adipisci, tenetur aliquid neque facilis expedita dolorem consectetur incidunt facere.</p>
        </ul>
        <ul>
            <li> <h1>Utn </h1> <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non obcaecati natus corrupti eligendi, illo ducimus recusandae asperiores inventore officia officiis! Adipisci, tenetur aliquid neque facilis expedita dolorem consectetur incidunt facere.</p>
        </ul>
        <ul>
            <li> <h1>Arg prog </h1> <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non obcaecati natus corrupti eligendi, illo ducimus recusandae asperiores inventore officia officiis! Adipisci, tenetur aliquid neque facilis expedita dolorem consectetur incidunt facere.</p>
        </ul>
    </div>
</div>